/* Ecrans desktop */

@media all and (min-width: 1430px) and (max-width: 1440px)
{
    html
    {
        transform: scale(0.5);
        height: 1910px
    }
}

@media all and (min-width: 1420px) and (max-width: 1430px)
{
    html
    {
        transform: scale(0.496515679442509);
        height: 1896.68989547038px
    }
}

@media all and (min-width: 1410px) and (max-width: 1420px)
{
    html
    {
        transform: scale(0.493031358885017);
        height: 1883.37979094077px
    }
}

@media all and (min-width: 1400px) and (max-width: 1410px)
{
    html
    {
        transform: scale(0.489547038327526);
        height: 1870.06968641115px
    }
}

@media all and (min-width: 1390px) and (max-width: 1400px)
{
    html
    {
        transform: scale(0.486062717770035);
        height: 1856.75958188153px
    }
}

@media all and (min-width: 1380px) and (max-width: 1390px)
{
    html
    {
        transform: scale(0.482578397212544);
        height: 1843.44947735192px
    }
}

@media all and (min-width: 1370px) and (max-width: 1380px)
{
    html
    {
        transform: scale(0.479094076655052);
        height: 1830.1393728223px
    }
}

@media all and (min-width: 1360px) and (max-width: 1370px)
{
    html
    {
        transform: scale(0.475609756097561);
        height: 1816.82926829268px
    }
}

@media all and (min-width: 1350px) and (max-width: 1360px)
{
    html
    {
        transform: scale(0.47212543554007);
        height: 1803.51916376307px
    }
}

@media all and (min-width: 1340px) and (max-width: 1350px)
{
    html
    {
        transform: scale(0.468641114982578);
        height: 1790.20905923345px
    }
}

@media all and (min-width: 1330px) and (max-width: 1340px)
{
    html
    {
        transform: scale(0.465156794425087);
        height: 1776.89895470383px
    }
}

@media all and (min-width: 1320px) and (max-width: 1330px)
{
    html
    {
        transform: scale(0.461672473867596);
        height: 1763.58885017422px
    }
}

@media all and (min-width: 1310px) and (max-width: 1320px)
{
    html
    {
        transform: scale(0.458188153310105);
        height: 1750.2787456446px
    }
}

@media all and (min-width: 1300px) and (max-width: 1310px)
{
    html
    {
        transform: scale(0.454703832752613);
        height: 1736.96864111498px
    }
}

@media all and (min-width: 1290px) and (max-width: 1300px)
{
    html
    {
        transform: scale(0.451219512195122);
        height: 1723.65853658537px
    }
}

@media all and (min-width: 1280px) and (max-width: 1290px)
{
    html
    {
        transform: scale(0.447735191637631);
        height: 1710.34843205575px
    }
}

@media all and (min-width: 1270px) and (max-width: 1280px)
{
    html
    {
        transform: scale(0.444250871080139);
        height: 1697.03832752613px
    }
}

@media all and (min-width: 1260px) and (max-width: 1270px)
{
    html
    {
        transform: scale(0.440766550522648);
        height: 1683.72822299652px
    }
}

@media all and (min-width: 1250px) and (max-width: 1260px)
{
    html
    {
        transform: scale(0.437282229965157);
        height: 1670.4181184669px
    }
}

@media all and (min-width: 1240px) and (max-width: 1250px)
{
    html
    {
        transform: scale(0.433797909407665);
        height: 1657.10801393728px
    }
}

@media all and (min-width: 1230px) and (max-width: 1240px)
{
    html
    {
        transform: scale(0.430313588850174);
        height: 1643.79790940767px
    }
}

@media all and (min-width: 1220px) and (max-width: 1230px)
{
    html
    {
        transform: scale(0.426829268292683);
        height: 1630.48780487805px
    }
}

@media all and (min-width: 1210px) and (max-width: 1220px)
{
    html
    {
        transform: scale(0.423344947735192);
        height: 1617.17770034843px
    }
}

@media all and (min-width: 1200px) and (max-width: 1210px)
{
    html
    {
        transform: scale(0.4198606271777);
        height: 1603.86759581882px
    }
}

@media all and (min-width: 1190px) and (max-width: 1200px)
{
    html
    {
        transform: scale(0.416376306620209);
        height: 1590.5574912892px
    }
}

@media all and (min-width: 1180px) and (max-width: 1190px)
{
    html
    {
        transform: scale(0.412891986062718);
        height: 1577.24738675958px
    }
}

@media all and (min-width: 1170px) and (max-width: 1180px)
{
    html
    {
        transform: scale(0.409407665505227);
        height: 1563.93728222997px
    }
}

@media all and (min-width: 1160px) and (max-width: 1170px)
{
    html
    {
        transform: scale(0.405923344947735);
        height: 1550.62717770035px
    }
}

@media all and (min-width: 1150px) and (max-width: 1160px)
{
    html
    {
        transform: scale(0.402439024390244);
        height: 1537.31707317073px
    }
}

@media all and (min-width: 1140px) and (max-width: 1150px)
{
    html
    {
        transform: scale(0.398954703832753);
        height: 1524.00696864112px
    }
}

@media all and (min-width: 1130px) and (max-width: 1140px)
{
    html
    {
        transform: scale(0.395470383275261);
        height: 1510.6968641115px
    }
}

@media all and (min-width: 1120px) and (max-width: 1130px)
{
    html
    {
        transform: scale(0.39198606271777);
        height: 1497.38675958188px
    }
}

@media all and (min-width: 1110px) and (max-width: 1120px)
{
    html
    {
        transform: scale(0.388501742160279);
        height: 1484.07665505226px
    }
}

@media all and (min-width: 1100px) and (max-width: 1110px)
{
    html
    {
        transform: scale(0.385017421602787);
        height: 1470.76655052265px
    }
}

@media all and (min-width: 1090px) and (max-width: 1100px)
{
    html
    {
        transform: scale(0.381533101045296);
        height: 1457.45644599303px
    }
}

@media all and (min-width: 1080px) and (max-width: 1090px)
{
    html
    {
        transform: scale(0.378048780487805);
        height: 1444.14634146341px
    }
}

@media all and (min-width: 1070px) and (max-width: 1080px)
{
    html
    {
        transform: scale(0.374564459930314);
        height: 1430.8362369338px
    }
}

@media all and (min-width: 1060px) and (max-width: 1070px)
{
    html
    {
        transform: scale(0.371080139372822);
        height: 1417.52613240418px
    }
}

@media all and (min-width: 1050px) and (max-width: 1060px)
{
    html
    {
        transform: scale(0.367595818815331);
        height: 1404.21602787456px
    }
}

@media all and (min-width: 1040px) and (max-width: 1050px)
{
    html
    {
        transform: scale(0.36411149825784);
        height: 1390.90592334495px
    }
}

@media all and (min-width: 1030px) and (max-width: 1040px)
{
    html
    {
        transform: scale(0.360627177700348);
        height: 1377.59581881533px
    }
}

@media all and (min-width: 1020px) and (max-width: 1030px)
{
    html
    {
        transform: scale(0.357142857142857);
        height: 1364.28571428571px
    }
}

@media all and (min-width: 1010px) and (max-width: 1020px)
{
    html
    {
        transform: scale(0.353658536585366);
        height: 1350.9756097561px
    }
}

@media all and (min-width: 1000px) and (max-width: 1010px)
{
    html
    {
        transform: scale(0.350174216027875);
        height: 1337.66550522648px
    }
}

@media all and (min-width: 991.5px) and (max-width: 1000px)
{
    html
    {
        transform: scale(0.346689895470383);
        height: 1324.35540069686px
    }
}


/* Ecrans tablettes */

@media all and (min-width: 981.5px) and (max-width: 991.5px)
{
    html
    {
        transform: scale(1);
        height: 8480px
    }
}

@media all and (min-width: 971.5px) and (max-width: 981.5px)
{
    html
    {
        transform: scale(0.989909182643794);
        height: 8394.42986881937px
    }
}

@media all and (min-width: 961.5px) and (max-width: 971.5px)
{
    html
    {
        transform: scale(0.979818365287588);
        height: 8308.85973763875px
    }
}

@media all and (min-width: 951.5px) and (max-width: 961.5px)
{
    html
    {
        transform: scale(0.969727547931382);
        height: 8223.28960645812px
    }
}

@media all and (min-width: 941.5px) and (max-width: 951.5px)
{
    html
    {
        transform: scale(0.959636730575177);
        height: 8137.7194752775px
    }
}

@media all and (min-width: 931.5px) and (max-width: 941.5px)
{
    html
    {
        transform: scale(0.949545913218971);
        height: 8052.14934409687px
    }
}

@media all and (min-width: 921.5px) and (max-width: 931.5px)
{
    html
    {
        transform: scale(0.939455095862765);
        height: 7966.57921291625px
    }
}

@media all and (min-width: 911.5px) and (max-width: 921.5px)
{
    html
    {
        transform: scale(0.929364278506559);
        height: 7881.00908173562px
    }
}

@media all and (min-width: 901.5px) and (max-width: 911.5px)
{
    html
    {
        transform: scale(0.919273461150353);
        height: 7795.43895055499px
    }
}

@media all and (min-width: 891.5px) and (max-width: 901.5px)
{
    html
    {
        transform: scale(0.909182643794147);
        height: 7709.86881937437px
    }
}

@media all and (min-width: 881.5px) and (max-width: 891.5px)
{
    html
    {
        transform: scale(0.899091826437941);
        height: 7624.29868819374px
    }
}

@media all and (min-width: 871.5px) and (max-width: 881.5px)
{
    html
    {
        transform: scale(0.889001009081736);
        height: 7538.72855701312px
    }
}

@media all and (min-width: 861.5px) and (max-width: 871.5px)
{
    html
    {
        transform: scale(0.87891019172553);
        height: 7453.15842583249px
    }
}

@media all and (min-width: 851.5px) and (max-width: 861.5px)
{
    html
    {
        transform: scale(0.868819374369324);
        height: 7367.58829465187px
    }
}

@media all and (min-width: 841.5px) and (max-width: 851.5px)
{
    html
    {
        transform: scale(0.858728557013118);
        height: 7282.01816347124px
    }
}

@media all and (min-width: 831.5px) and (max-width: 841.5px)
{
    html
    {
        transform: scale(0.848637739656912);
        height: 7196.44803229062px
    }
}

@media all and (min-width: 821.5px) and (max-width: 831.5px)
{
    html
    {
        transform: scale(0.838546922300706);
        height: 7110.87790110999px
    }
}

@media all and (min-width: 811.5px) and (max-width: 821.5px)
{
    html
    {
        transform: scale(0.828456104944501);
        height: 7025.30776992936px
    }
}

@media all and (min-width: 801.5px) and (max-width: 811.5px)
{
    html
    {
        transform: scale(0.818365287588295);
        height: 6939.73763874874px
    }
}

@media all and (min-width: 791.5px) and (max-width: 801.5px)
{
    html
    {
        transform: scale(0.808274470232089);
        height: 6854.16750756811px
    }
}

@media all and (min-width: 781.5px) and (max-width: 791.5px)
{
    html
    {
        transform: scale(0.798183652875883);
        height: 6768.59737638749px
    }
}

@media all and (min-width: 771.5px) and (max-width: 781.5px)
{
    html
    {
        transform: scale(0.788092835519677);
        height: 6683.02724520686px
    }
}

@media all and (min-width: 767.5px) and (max-width: 771.5px)
{
    html
    {
        transform: scale(0.778002018163471);
        height: 6597.45711402624px
    }
}



/* Ecrans smartphones */

@media all and (min-width: 757.5px) and (max-width: 767.5px)
{
    html
    {
        transform: scale(1);
        height: 9070px
    }
}

@media all and (min-width: 747.5px) and (max-width: 757.5px)
{
    html
    {
        transform: scale(0.986962190352021);
        height: 8951.74706649283px
    }
}

@media all and (min-width: 737.5px) and (max-width: 747.5px)
{
    html
    {
        transform: scale(0.973924380704042);
        height: 8833.49413298566px
    }
}

@media all and (min-width: 727.5px) and (max-width: 737.5px)
{
    html
    {
        transform: scale(0.960886571056063);
        height: 8715.24119947849px
    }
}

@media all and (min-width: 717.5px) and (max-width: 727.5px)
{
    html
    {
        transform: scale(0.947848761408083);
        height: 8596.98826597132px
    }
}

@media all and (min-width: 707.5px) and (max-width: 717.5px)
{
    html
    {
        transform: scale(0.934810951760104);
        height: 8478.73533246415px
    }
}

@media all and (min-width: 697.5px) and (max-width: 707.5px)
{
    html
    {
        transform: scale(0.921773142112125);
        height: 8360.48239895697px
    }
}

@media all and (min-width: 687.5px) and (max-width: 697.5px)
{
    html
    {
        transform: scale(0.908735332464146);
        height: 8242.22946544981px
    }
}

@media all and (min-width: 677.5px) and (max-width: 687.5px)
{
    html
    {
        transform: scale(0.895697522816167);
        height: 8123.97653194263px
    }
}

@media all and (min-width: 667.5px) and (max-width: 677.5px)
{
    html
    {
        transform: scale(0.882659713168188);
        height: 8005.72359843546px
    }
}

@media all and (min-width: 657.5px) and (max-width: 667.5px)
{
    html
    {
        transform: scale(0.869621903520209);
        height: 7887.47066492829px
    }
}

@media all and (min-width: 647.5px) and (max-width: 657.5px)
{
    html
    {
        transform: scale(0.856584093872229);
        height: 7769.21773142112px
    }
}

@media all and (min-width: 637.5px) and (max-width: 647.5px)
{
    html
    {
        transform: scale(0.84354628422425);
        height: 7650.96479791395px
    }
}

@media all and (min-width: 627.5px) and (max-width: 637.5px)
{
    html
    {
        transform: scale(0.830508474576271);
        height: 7532.71186440678px
    }
}

@media all and (min-width: 617.5px) and (max-width: 627.5px)
{
    html
    {
        transform: scale(0.817470664928292);
        height: 7414.45893089961px
    }
}

@media all and (min-width: 607.5px) and (max-width: 617.5px)
{
    html
    {
        transform: scale(0.804432855280313);
        height: 7296.20599739244px
    }
}

@media all and (min-width: 597.5px) and (max-width: 607.5px)
{
    html
    {
        transform: scale(0.791395045632334);
        height: 7177.95306388527px
    }
}

@media all and (min-width: 587.5px) and (max-width: 597.5px)
{
    html
    {
        transform: scale(0.778357235984355);
        height: 7059.7001303781px
    }
}

@media all and (min-width: 577.5px) and (max-width: 587.5px)
{
    html
    {
        transform: scale(0.765319426336376);
        height: 6941.44719687093px
    }
}

@media all and (min-width: 567.5px) and (max-width: 577.5px)
{
    html
    {
        transform: scale(0.752281616688396);
        height: 6823.19426336375px
    }
}

@media all and (min-width: 557.5px) and (max-width: 567.5px)
{
    html
    {
        transform: scale(0.739243807040417);
        height: 6704.94132985658px
    }
}

@media all and (min-width: 547.5px) and (max-width: 557.5px)
{
    html
    {
        transform: scale(0.726205997392438);
        height: 6586.68839634941px
    }
}

@media all and (min-width: 537.5px) and (max-width: 547.5px)
{
    html
    {
        transform: scale(0.713168187744459);
        height: 6468.43546284224px
    }
}

@media all and (min-width: 527.5px) and (max-width: 537.5px)
{
    html
    {
        transform: scale(0.70013037809648);
        height: 6350.18252933507px
    }
}

@media all and (min-width: 517.5px) and (max-width: 527.5px)
{
    html
    {
        transform: scale(0.687092568448501);
        height: 6231.9295958279px
    }
}

@media all and (min-width: 507.5px) and (max-width: 517.5px)
{
    html
    {
        transform: scale(0.674054758800521);
        height: 6113.67666232073px
    }
}

@media all and (min-width: 497.5px) and (max-width: 507.5px)
{
    html
    {
        transform: scale(0.661016949152542);
        height: 5995.42372881356px
    }
}

@media all and (min-width: 487.5px) and (max-width: 497.5px)
{
    html
    {
        transform: scale(0.647979139504563);
        height: 5877.17079530639px
    }
}

@media all and (min-width: 477.5px) and (max-width: 487.5px)
{
    html
    {
        transform: scale(0.634941329856584);
        height: 5758.91786179922px
    }
}

@media all and (min-width: 467.5px) and (max-width: 477.5px)
{
    html
    {
        transform: scale(0.621903520208605);
        height: 5640.66492829205px
    }
}

@media all and (min-width: 457.5px) and (max-width: 467.5px)
{
    html
    {
        transform: scale(0.608865710560626);
        height: 5522.41199478488px
    }
}

@media all and (min-width: 447.5px) and (max-width: 457.5px)
{
    html
    {
        transform: scale(0.595827900912647);
        height: 5404.15906127771px
    }
}

@media all and (min-width: 437.5px) and (max-width: 447.5px)
{
    html
    {
        transform: scale(0.582790091264668);
        height: 5285.90612777053px
    }
}

@media all and (min-width: 427.5px) and (max-width: 437.5px)
{
    html
    {
        transform: scale(0.569752281616688);
        height: 5167.65319426336px
    }
}

@media all and (min-width: 417.5px) and (max-width: 427.5px)
{
    html
    {
        transform: scale(0.556714471968709);
        height: 5049.40026075619px
    }
}

@media all and (min-width: 407.5px) and (max-width: 417.5px)
{
    html
    {
        transform: scale(0.54367666232073);
        height: 4931.14732724902px
    }
}

@media all and (min-width: 397.5px) and (max-width: 407.5px)
{
    html
    {
        transform: scale(0.530638852672751);
        height: 4812.89439374185px
    }
}

@media all and (min-width: 387.5px) and (max-width: 397.5px)
{
    html
    {
        transform: scale(0.517601043024772);
        height: 4694.64146023468px
    }
}

@media all and (min-width: 377.5px) and (max-width: 387.5px)
{
    html
    {
        transform: scale(0.504563233376793);
        height: 4576.38852672751px
    }
}

@media all and (min-width: 367.5px) and (max-width: 377.5px)
{
    html
    {
        transform: scale(0.491525423728814);
        height: 4458.13559322034px
    }
}

@media all and (min-width: 357.5px) and (max-width: 367.5px)
{
    html
    {
        transform: scale(0.478487614080834);
        height: 4339.88265971317px
    }
}

@media all and (min-width: 347.5px) and (max-width: 357.5px)
{
    html
    {
        transform: scale(0.465449804432855);
        height: 4221.629726206px
    }
}

@media all and (min-width: 337.5px) and (max-width: 347.5px)
{
    html
    {
        transform: scale(0.452411994784876);
        height: 4103.37679269883px
    }
}

@media all and (min-width: 327.5px) and (max-width: 337.5px)
{
    html
    {
        transform: scale(0.439374185136897);
        height: 3985.12385919166px
    }
}

@media all and (min-width: 317.5px) and (max-width: 327.5px)
{
    html
    {
        transform: scale(0.426336375488918);
        height: 3866.87092568448px
    }
}

@media all and (min-width: 307.5px) and (max-width: 317.5px)
{
    html
    {
        transform: scale(0.413298565840939);
        height: 3748.61799217731px
    }
}

@media all and (min-width: 297.5px) and (max-width: 307.5px)
{
    html
    {
        transform: scale(0.40026075619296);
        height: 3630.36505867014px
    }
}

@media all and (min-width: 287.5px) and (max-width: 297.5px)
{
    html
    {
        transform: scale(0.38722294654498);
        height: 3512.11212516297px
    }
}

@media all and (min-width: 277.5px) and (max-width: 287.5px)
{
    html
    {
        transform: scale(0.374185136897001);
        height: 3393.8591916558px
    }
}

@media all and (min-width: 267.5px) and (max-width: 277.5px)
{
    html
    {
        transform: scale(0.361147327249022);
        height: 3275.60625814863px
    }
}

@media all and (min-width: 257.5px) and (max-width: 267.5px)
{
    html
    {
        transform: scale(0.348109517601043);
        height: 3157.35332464146px
    }
}

@media all and (min-width: 247.5px) and (max-width: 257.5px)
{
    html
    {
        transform: scale(0.335071707953064);
        height: 3039.10039113429px
    }
}

@media all and (min-width: 237.5px) and (max-width: 247.5px)
{
    html
    {
        transform: scale(0.322033898305085);
        height: 2920.84745762712px
    }
}

@media all and (min-width: 227.5px) and (max-width: 237.5px)
{
    html
    {
        transform: scale(0.308996088657106);
        height: 2802.59452411995px
    }
}

@media all and (min-width: 217.5px) and (max-width: 227.5px)
{
    html
    {
        transform: scale(0.295958279009126);
        height: 2684.34159061278px
    }
}

@media all and (min-width: 207.5px) and (max-width: 217.5px)
{
    html
    {
        transform: scale(0.282920469361147);
        height: 2566.08865710561px
    }
}

@media all and (min-width: 197.5px) and (max-width: 207.5px)
{
    html
    {
        transform: scale(0.269882659713168);
        height: 2447.83572359844px
    }
}

@media all and (min-width: 187.5px) and (max-width: 197.5px)
{
    html
    {
        transform: scale(0.256844850065189);
        height: 2329.58279009126px
    }
}

@media all and (min-width: 177.5px) and (max-width: 187.5px)
{
    html
    {
        transform: scale(0.24380704041721);
        height: 2211.32985658409px
    }
}

@media all and (min-width: 167.5px) and (max-width: 177.5px)
{
    html
    {
        transform: scale(0.230769230769231);
        height: 2093.07692307692px
    }
}

@media all and (min-width: 157.5px) and (max-width: 167.5px)
{
    html
    {
        transform: scale(0.217731421121252);
        height: 1974.82398956975px
    }
}

@media all and (min-width: 147.5px) and (max-width: 157.5px)
{
    html
    {
        transform: scale(0.204693611473273);
        height: 1856.57105606258px
    }
}

@media all and (min-width: 137.5px) and (max-width: 147.5px)
{
    html
    {
        transform: scale(0.191655801825293);
        height: 1738.31812255541px
    }
}

@media all and (min-width: 127.5px) and (max-width: 137.5px)
{
    html
    {
        transform: scale(0.178617992177314);
        height: 1620.06518904824px
    }
}

@media all and (min-width: 117.5px) and (max-width: 127.5px)
{
    html
    {
        transform: scale(0.165580182529335);
        height: 1501.81225554107px
    }
}

@media all and (min-width: 107.5px) and (max-width: 117.5px)
{
    html
    {
        transform: scale(0.152542372881356);
        height: 1383.5593220339px
    }
}

@media all and (min-width: 97.5px) and (max-width: 107.5px)
{
    html
    {
        transform: scale(0.139504563233377);
        height: 1265.30638852673px
    }
}

@media all and (min-width: 87.5px) and (max-width: 97.5px)
{
    html
    {
        transform: scale(0.126466753585398);
        height: 1147.05345501956px
    }
}

@media all and (min-width: 77.5px) and (max-width: 87.5px)
{
    html
    {
        transform: scale(0.113428943937419);
        height: 1028.80052151239px
    }
}

@media all and (min-width: 67.5px) and (max-width: 77.5px)
{
    html
    {
        transform: scale(0.100391134289439);
        height: 910.547588005215px
    }
}

@media all and (min-width: 57.5px) and (max-width: 67.5px)
{
    html
    {
        transform: scale(0.0873533246414602);
        height: 792.294654498044px
    }
}

@media all and (min-width: 47.5px) and (max-width: 57.5px)
{
    html
    {
        transform: scale(0.0743155149934811);
        height: 674.041720990874px
    }
}

@media all and (min-width: 37.5px) and (max-width: 47.5px)
{
    html
    {
        transform: scale(0.061277705345502);
        height: 555.788787483703px
    }
}

@media all and (min-width: 27.5px) and (max-width: 37.5px)
{
    html
    {
        transform: scale(0.0482398956975228);
        height: 437.535853976532px
    }
}

@media all and (min-width: 17.5px) and (max-width: 27.5px)
{
    html
    {
        transform: scale(0.0352020860495437);
        height: 319.282920469361px
    }
}

@media all and (min-width: 7.5px) and (max-width: 17.5px)
{
    html
    {
        transform: scale(0.0221642764015645);
        height: 201.02998696219px
    }
}
