@media only screen and (min-width: 767.5px) and (max-width: 991.5px)
{
    html
    {
        height: 8480px;
        width: 992px;
        transform: scale(1);
    }

    #page
    {
        font-family: 'Raleway', sans-serif;
        margin: 40px;
    }

    #logo
    {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    #entete
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 912px;
    }

    #liens
    {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    #hebergements, #activites
    {
        margin: 20px;
        text-decoration: none;
        font-size: 30px;
    }

    #filtre
    {
        width: 912px;
    }

    #filtres
    {
        width: 912px;
    }

    #economique, #familial, #romantique, #animaux
    {
        margin: 0px 20px 20px 0px;
    }

    #information
    {
        width: 912px;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    #logoinfo
    {
        margin-top: 20px;
        margin-left: 20px;
    }

    #texteinfo
    {
        margin-left: 20px;
    }

    #marseille
    {
        height: 7150px;
        width: 912px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    #marseille :nth-child(1) { order: 2; }
    #marseille :nth-child(2) { order: 1; }
    #marseille :nth-child(3) { order: 3; }


    /* Paramètres Les plus populaires */

    #populaires
    {
        margin-left: 0px;
        height: 1110px;
        width: 862px;
        background-color: #F2F2F2;
        padding-top: 30px;
        padding-left: 25px;
        padding-bottom: 30px;
        padding-right: 25px;
        border-radius: 0px 0px 0px 0px;
    }

    #hebergementspopulaires
    {
        height: 1000px;
        width: 862px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #titrepopulaires
    {
        margin-bottom: 30px;
    }

    #entetepopulaires
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #logopopulaires
    {
        font-size: 35px;
        font-weight: bold;
    }

    #soleil, #eau, #bleu
    {
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: auto;
    }

    .photosoleil, .photoeau, .photobleu
    {
        margin-right: 30px;
    }

    #notesoleil, #noteeau, #notebleu
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end; 
    }


    /* Paramètres Hébergements à Marseille */

    #logements :nth-child(1) { order: 1; }
    #logements :nth-child(2) { order: 2; }
    #logements :nth-child(3) { order: 3; }


    #logements
    {
        width: 862px;
        height: 2950px;
        margin-bottom: 100px;
        background-color: white;
        padding: 0px;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    #hebergementsmarseille :nth-child(1) { order: 1; }
    #hebergementsmarseille :nth-child(2) { order: 2; }
    #hebergementsmarseille :nth-child(3) { order: 3; }
    #hebergementsmarseille :nth-child(4) { order: 4; }
    #hebergementsmarseille :nth-child(5) { order: 5; }
    #hebergementsmarseille :nth-child(6) { order: 6; }


    #hebergementsmarseille
    {
        width: 862px;
        height: 2800px;
        margin-left: 25px;
    }

    #titrelogements
    {
        margin-left: 20px;
    }

    #cannebiere, #port, #mouettes, #mer, #panier, #amina
    {
        height: 400px;
        width: 700px;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 35px 35px 35px 35px;
        box-shadow: 15px 15px 15px #F2F2F2;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .photocannebiere, .photoport, .photomouettes, .photomer, .photopanier, .photoamina
    {
        max-width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 230px;
        width: 680px;
        border-radius: 30px 30px 0px 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #descriptioncannebiere, #descriptionport, #descriptionmouettes, #descriptionmer, #descriptionpanier, #descriptionamina
    {
        height: 170px;
        width: 680px;
    }

    #titrecannebiere, #titreport, #titremouettes, #titremer, #titrepanier, #titreamina
    {
        height: 170px;
        width: 680px;
        margin-top: 20px;
        margin-left: 20px;
        line-height: 20px;
    }

    #notecannebiere, #noteport, #notemouettes, #notemer, #notepanier, #noteamina
    {
        margin-top: -70px;
        margin-left: 20px;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;    
    }

    #afficherplus
    {
        margin-left: 30px;
        padding-bottom: 100px;
        padding-top: 30px;
    }


    /* Paramètres Activités à Marseille */

    #titreactivites
    {
        margin-top: 0px;
    }

    #activitesamarseille
    {
        height: 1600px;
        width: 862px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #activitesamarseille :nth-child(1) { order: 1; }
    #activitesamarseille :nth-child(2) { order: 2; }
    #activitesamarseille :nth-child(3) { order: 3; }
    #activitesamarseille :nth-child(4) { order: 4; }
    #activitesamarseille :nth-child(5) { order: 5; }

    #activitesmarseille
    {
        height: 2550px;
        width: 862px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
    }

    #vieuxport, #fort, #iles, #calanques, #garde, #champ
    {
        height: 375px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .photovieuxport, .photofort, .photoiles, .photocalanques, .photogarde, .photochamp
    {
        object-fit: cover;
        height: 270px;
        width: 700px;
    }

    #titrevieuxport, #titrefort, #titreiles, #titrecalanques, #titregarde, #titrechamp
    {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    footer
    {
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 992px;
    }

}


@media all and (min-width: 981.5px) and (max-width: 991.5px)
{
    html
    {
        transform: scale(1);
        height: 8480px
    }
}

@media all and (min-width: 971.5px) and (max-width: 981.5px)
{
    html
    {
        transform: scale(0.989909182643794);
        height: 8394.42986881937px
    }
}

@media all and (min-width: 961.5px) and (max-width: 971.5px)
{
    html
    {
        transform: scale(0.979818365287588);
        height: 8308.85973763875px
    }
}

@media all and (min-width: 951.5px) and (max-width: 961.5px)
{
    html
    {
        transform: scale(0.969727547931382);
        height: 8223.28960645812px
    }
}

@media all and (min-width: 941.5px) and (max-width: 951.5px)
{
    html
    {
        transform: scale(0.959636730575177);
        height: 8137.7194752775px
    }
}

@media all and (min-width: 931.5px) and (max-width: 941.5px)
{
    html
    {
        transform: scale(0.949545913218971);
        height: 8052.14934409687px
    }
}

@media all and (min-width: 921.5px) and (max-width: 931.5px)
{
    html
    {
        transform: scale(0.939455095862765);
        height: 7966.57921291625px
    }
}

@media all and (min-width: 911.5px) and (max-width: 921.5px)
{
    html
    {
        transform: scale(0.929364278506559);
        height: 7881.00908173562px
    }
}

@media all and (min-width: 901.5px) and (max-width: 911.5px)
{
    html
    {
        transform: scale(0.919273461150353);
        height: 7795.43895055499px
    }
}

@media all and (min-width: 891.5px) and (max-width: 901.5px)
{
    html
    {
        transform: scale(0.909182643794147);
        height: 7709.86881937437px
    }
}

@media all and (min-width: 881.5px) and (max-width: 891.5px)
{
    html
    {
        transform: scale(0.899091826437941);
        height: 7624.29868819374px
    }
}

@media all and (min-width: 871.5px) and (max-width: 881.5px)
{
    html
    {
        transform: scale(0.889001009081736);
        height: 7538.72855701312px
    }
}

@media all and (min-width: 861.5px) and (max-width: 871.5px)
{
    html
    {
        transform: scale(0.87891019172553);
        height: 7453.15842583249px
    }
}

@media all and (min-width: 851.5px) and (max-width: 861.5px)
{
    html
    {
        transform: scale(0.868819374369324);
        height: 7367.58829465187px
    }
}

@media all and (min-width: 841.5px) and (max-width: 851.5px)
{
    html
    {
        transform: scale(0.858728557013118);
        height: 7282.01816347124px
    }
}

@media all and (min-width: 831.5px) and (max-width: 841.5px)
{
    html
    {
        transform: scale(0.848637739656912);
        height: 7196.44803229062px
    }
}

@media all and (min-width: 821.5px) and (max-width: 831.5px)
{
    html
    {
        transform: scale(0.838546922300706);
        height: 7110.87790110999px
    }
}

@media all and (min-width: 811.5px) and (max-width: 821.5px)
{
    html
    {
        transform: scale(0.828456104944501);
        height: 7025.30776992936px
    }
}

@media all and (min-width: 801.5px) and (max-width: 811.5px)
{
    html
    {
        transform: scale(0.818365287588295);
        height: 6939.73763874874px
    }
}

@media all and (min-width: 791.5px) and (max-width: 801.5px)
{
    html
    {
        transform: scale(0.808274470232089);
        height: 6854.16750756811px
    }
}

@media all and (min-width: 781.5px) and (max-width: 791.5px)
{
    html
    {
        transform: scale(0.798183652875883);
        height: 6768.59737638749px
    }
}

@media all and (min-width: 771.5px) and (max-width: 781.5px)
{
    html
    {
        transform: scale(0.788092835519677);
        height: 6683.02724520686px
    }
}

@media all and (min-width: 761.5px) and (max-width: 771.5px)
{
    html
    {
        transform: scale(0.778002018163471);
        height: 6597.45711402624px
    }
}

@media all and (min-width: 751.5px) and (max-width: 761.5px)
{
    html
    {
        transform: scale(0.774470232088799);
        height: 6567.50756811302px
    }
}
